In [2]:
import os
from pathlib import Path

import pandas as pd
import numpy as np

from tqdm import tqdm

from itertools import product

In [3]:
data_path = './dataset/code'
labels = os.listdir(data_path)

In [4]:
# 용량 초과....

# with open('data_df.csv','w',encoding='utf8') as f:
#     f.write('code1,code2,similar')
#     for label1, label2 in tqdm(product(labels, repeat=2),total=len(labels)**2):
#         for code1_src, code2_src in product(os.listdir(data_path+label1),os.listdir(data_path+label2)):
#             if not code1_src==code2_src:
#                 code1 = (data_path+label1+'/'+code1_src)
#                 code2 = (data_path+label2+'/'+code2_src)
#                 if label1==label2:
#                     similar = 1
#                 else:
#                     similar = 0
#             f.write("{},{},{}".format(code1,code2,similar))

In [5]:
import config
num_sample = config.num_sample
data_dict = {"code1":[], "code2":[], "similar":[]}

for i in tqdm(range(num_sample)):
    if i % 2 ==0:
        sample = np.random.choice(labels,2,replace=False).tolist()
        code1_src = np.random.choice(os.listdir('/'.join([data_path,sample[0]])))
        code2_src = np.random.choice(os.listdir('/'.join([data_path,sample[1]])))
        similar = 0
        # print(sample)
        code1_path = '/'.join([data_path,sample[0],code1_src])
        code2_path = '/'.join([data_path,sample[1],code2_src])
        # print(code1_path)
    else:
        label = (np.random.choice(labels))
        code_src = np.random.choice(os.listdir('/'.join([data_path,label])),2,replace=False).tolist()
        similar = 1
        
        code1_path = '/'.join([data_path,label,code_src[0]])
        code2_path = '/'.join([data_path,label,code_src[1]])
        
    data_dict['code1'].append(code1_path)
    data_dict['code2'].append(code2_path)
    data_dict['similar'].append(similar)

100%|██████████| 10000/10000 [00:48<00:00, 205.17it/s]

In [45]:
df = pd.DataFrame(data_dict)
df['similar'].value_counts()

0    5000
1    5000
Name: similar, dtype: int64

In [46]:
df.head()

,code1,code2,similar
0,./dataset/code/problem028/problem028_112.py,./dataset/code/problem085/problem085_1.py,0
1,./dataset/code/problem246/problem246_49.py,./dataset/code/problem246/problem246_125.py,1
2,./dataset/code/problem097/problem097_90.py,./dataset/code/problem204/problem204_26.py,0
3,./dataset/code/problem071/problem071_13.py,./dataset/code/problem071/problem071_94.py,1
4,./dataset/code/problem281/problem281_139.py,./dataset/code/problem300/problem300_109.py,0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   code1    10000 non-null  object
 1   code2    10000 non-null  object
 2   similar  10000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [48]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9996 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   code1    9996 non-null   object
 1   code2    9996 non-null   object
 2   similar  9996 non-null   int64
dtypes: int64(1), object(2)
memory usage: 312.4+ KB

In [50]:
df.similar.value_counts()

0    5000
1    4996
Name: similar, dtype: int64

In [54]:
df.to_csv('./dataset/data_df.csv',index=False)