In [21]:
import os
from pathlib import Path

import pandas as pd
import numpy as np

from tqdm import tqdm

In [22]:
data_path = './dataset/code/'
labels = os.listdir(data_path)
source_list = []
for label in tqdm(labels):
    for source in os.listdir(data_path+label):
        source_path = data_path+label+'/'+source
        source_list.append(source_path)

100%|██████████| 300/300 [00:00<00:00, 315.45it/s]

In [23]:
source_list[:5]

['./dataset/code/problem001/problem001_1.py',
 './dataset/code/problem001/problem001_10.py',
 './dataset/code/problem001/problem001_100.py',
 './dataset/code/problem001/problem001_101.py',
 './dataset/code/problem001/problem001_102.py']

In [24]:
len(source_list)

45101

In [25]:
sample = np.random.choice(source_list,2)
print(type(sample))
print(sample)

<class 'numpy.ndarray'>
['./dataset/code/problem245/problem245_144.py'
 './dataset/code/problem033/problem033_97.py']

In [34]:
code = sample[0].split('/')
print(code)
print('/'.join(code[:-1]))
print(labels[:5])

['.', 'dataset', 'code', 'problem015', 'problem015_106.py']
./dataset/code/problem015
['problem001', 'problem002', 'problem003', 'problem004', 'problem005']

In [28]:
num_sample = 1000
data_dict = {"code1":[], "code2":[], "similar":[]}

for _ in tqdm(range(num_sample)):
    sample = np.random.choice(source_list,2)
    code1 = sample[0].split('/')
    code2 = sample[1].split('/')
    
    if code1[-2] == code2[-2]: similar = 1
    else: similar = 0
    
    data_dict['code1'].append(sample[0])
    data_dict['code2'].append(sample[1])
    data_dict['similar'].append(similar)

100%|██████████| 1000/1000 [00:43<00:00, 23.18it/s]

In [29]:
df = pd.DataFrame(data_dict)
df['similar'].value_counts()

0    998
1      2
Name: similar, dtype: int64

In [31]:
df.head()

,code1,code2,similar
0,./dataset/code/problem144/problem144_147.py,./dataset/code/problem264/problem264_78.py,0
1,./dataset/code/problem133/problem133_75.py,./dataset/code/problem187/problem187_38.py,0
2,./dataset/code/problem268/problem268_111.py,./dataset/code/problem052/problem052_35.py,0
3,./dataset/code/problem103/problem103_36.py,./dataset/code/problem182/problem182_151.py,0
4,./dataset/code/problem169/problem169_10.py,./dataset/code/problem183/problem183_2.py,0